.zh_sort {
    padding-top: 50px;
    width: 100%;
    height: 100%;
}

.zh_sortLeft {
    width: 85px;
    height: 100%;
    float: left;
    overflow: hidden;
    background-color: #f8f8f8;
}

.zh_sortLeft ul {
    width: 100%;
    height: 860px;
}

.zh_sortLeft ul li {
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #f8f8f8;
}

.zh_sortLeft ul li a {
    font-size: 16px;
    display: block;
    width: 100%;
}

.zh_sortLeft ul li:hover a {
    background-color: #fff;
    border-right: 2px solid skyblue;
    color: skyblue;
}

.zh_sortRight {
    overflow: hidden;
    height: 100%;
}

.zh_sortRight_box {
    padding: 0 10px;
}

.zh_sortRight_box .carousel {
    margin-top: 10px;
    width: 100%;
    display: block;
}

.zh_sortRight_box .carousel-inner a {
    display: block;
    width: 100%;
    height: 120px;
}

.zh_sortRight_box .carousel-inner a img {
    display: block;
    width: 100%;
    height: 100%;
}

.zh_sortRight_box_columns {
    margin-top: 10px;
}

.zh_sortRight_box_columns ul {
    width: 100%;
}

.zh_sortRight_box_columns ul li {
    width: 33.3333%;
    float: left;
    padding-top: 5px;
}

.zh_sortRight_box_columns ul li a {
    display: block;
    width: 100%;
}

.zh_sortRight_box_columns ul li a img {
    display: block;
    width: 55px;
    height: 55px;
    margin: 0 auto;
}

.zh_sortRight_box_columns ul li a p {
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
}